[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/magnum-integration"]
	path = libs/magnum-integration
	url = https://github.com/mosra/magnum-integration
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json/
[submodule "libs/osu_reader"]
	path = libs/osu_reader
	url = https://github.com/ShaddyDC/osu_reader
[submodule "libs/corrade"]
	path = libs/corrade
	url = https://github.com/mosra/corrade
[submodule "libs/magnum"]
	path = libs/magnum
	url = https://github.com/mosra/magnum
[submodule "toolchains"]
	path = toolchains
	url = https://github.com/mosra/toolchains
[submodule "libs/range-v3"]
	path = libs/range-v3
	url = https://github.com/ericniebler/range-v3
