[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/magnum-integration"]
	path = libs/magnum-integration
	url = https://github.com/mosra/magnum-integration
