[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/magnum-integration"]
	path = libs/magnum-integration
	url = https://github.com/mosra/magnum-integration
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json/
[submodule "libs/osu_reader"]
	path = libs/osu_reader
	url = https://github.com/ShaddyDC/osu_reader
